<div class="page-header">
  <h1><%= t('nav.members') %> <span class="label label-default"><%= @members.count%></span></h1>
</div>

<%= form_tag("/members", method: "get", html: { class: "form-inline"} ) do %>
  <div class="input-group">
    <%= text_field_tag(:q, params[:q], class: "form-control input-sm", placeholder: "търси") %>
    <span class="input-group-btn">
      <%= submit_tag("Търси", name: nil, class: "btn btn-default btn-sm") %>
    </span>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <%= select(nil, :party_id, options_for_select(Structure.parties.pluck("name", "id"), selected: params[:party_id]), { include_blank: 'Всички партии' }, { class: "form-control input-sm"  }) %>
    </div>
    <div class="col-md-3">
      <%= select(nil, :assembly_id, options_for_select(Structure.assemblies.pluck("name", "id"), selected: params[:assembly_id]), { include_blank: 'Всички събрания' }, { class: "form-control input-sm"  }) %>
    </div>
    <div class="col-md-3">
      <%= select(nil, :constituency, options_for_select(Participation.where.not(constituency: nil).pluck(:constituency).uniq.each do |v| [v , v] end, selected: params[:constituency]), { include_blank: 'Избирателен район' }, { class: "form-control input-sm"  }) %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= select(nil, :order, options_for_select([["Име", "first_name"],["Фамилия", "last_name"],["Възраст", "birthday"]], selected: params[:order]), { include_blank: 'Подреди по:' }, { class: "form-control input-sm"  }) %>
    </div>
    <div class="col-md-8 paginate">
      <%= paginate_always(@members) %>
    </div>
  </div>

<% end %>

<table class="table table-striped">
  <tr>
    <td>Имена</td>
    <td>Възраст</td>
    <td>Роден град</td>
    <td>Езици</td>
    <td>Професия</td>
    <td>email</td>
  </tr>
    <% @members.each_with_index do |m, index| %>
  <tr>
    <td><%= link_to m.names, member_path(m) %></td>
    <td><%= m.age %></td>
    <td><%= m.hometown %></td>
    <td><%= m.languages %></td>
    <td><%= m.profession %></td>
    <td><%= m.email %></td>
  </tr>
<% end %>

</table>

<%= paginate_always(@members) %>
