<h1><%= @member.names %></h1>

<div class="row">
  <div class="col-md-6">
    dsadsdsa
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Лични данни</h4>
      </div>
      <table class="table table-bordered">
        <tr>
          <td>дата на раждане</td>
          <td><%= @member.birthday %></td>
        </tr>
        <tr>
          <td>място на раждане</td>
          <td><%= @member.hometown %></td>
        </tr>
        <tr>
          <td>професия</td>
          <td><%= @member.profession %></td>
        </tr>
        <tr>
          <td>езици</td>
          <td><%= @member.languages %></td>
        </tr>
        <tr>
          <td>семейно положение</td>
          <td><%= @member.marital_status %></td>
        </tr>
        <tr>
          <td>имейл</td>
          <td><%= @member.email %></td>
        </tr>
        <tr>
          <td>уебсайт</td>
          <td><%= @member.website %></td>
        </tr>
      </table>
    </div>

  </div>
</div>

Народни събрания:<br>
<ul>
<% @member.assemblies.each do |p| %>
  <li><%= p.structure.name %> - <%= p.position %> |<%= p.start_date %>|<%= p.end_date %>|</li>
<% end %>
</ul>

Партии:<br>
<ul>
<% @member.parties.each do |p| %>
  <li><%= p.structure.name %> - <%= p.position %> |<%= p.start_date %>|<%= p.end_date %>|</li>
<% end %>
</ul>

Постоянни комисии
<ul>
<% @member.comittees.each do |p| %>
  <li><%= p.structure.name %> - <%= p.position %> |<%= p.start_date %>|<%= p.end_date %>|</li>
<% end %>
</ul>

Временни комисии
<ul>
<% @member.t_comittees.each do |p| %>
  <li><%= p.structure.name %> - <%= p.position %> |<%= p.start_date %>|<%= p.end_date %>|</li>
<% end %>
</ul>

Парламентарни подкомисии
<ul>
<% @member.subcomittees.each do |p| %>
  <li><%= p.structure.name %> - <%= p.position %> |<%= p.start_date %>|<%= p.end_date %>|</li>
<% end %>
</ul>

Делегации
<ul>
<% @member.delegations.each do |p| %>
  <li><%= p.structure.name %> - <%= p.position %> |<%= p.start_date %>|<%= p.end_date %>|</li>
<% end %>
</ul>

Групи за приятелство
<ul>
<% @member.friendship_groups.each do |p| %>
  <li><%= p.structure.name %> - <%= p.position %> |<%= p.start_date %>|<%= p.end_date %>|</li>
<% end %>
</ul>

Зададени въпроси
<ul>
<% @member.questions.each do |q| %>
  <li>
    <%= q.topic %>
  </li>
<% end %>
</ul>

Изказвания
<ul>
<% @member.speeches.each do |s| %>
  <li>
    <%= s.topic %>
  </li>
<% end %>
</ul>
