<h1><%= @member.names %></h1>

<div class="row">
  <div class="col-md-8 mp-info">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Парламентарна активност</h4>
      </div>

    <h5 class="ns">Народни събрания:</h5>

    <table class="table">
      <tr>
        <td>От</td>
        <td>До</td>
        <td>Име</td>
        <td>позиция</td>
      </tr>
    <% @member.assemblies.each do |p| %>
      <tr>
        <td><%= p.start_date %></td>
        <td><%= p.end_date %></td>
        <td><%= p.structure.name %></td>
        <td><%= p.position %></td>
      </tr>
    <% end %>
    </table>

    <h5>Парламентарни групи</h5>

    <table class="table">
      <tr>
        <td>От</td>
        <td>До</td>
        <td>Име</td>
        <td>позиция</td>
      </tr>
    <% @member.parties.each do |p| %>
      <tr>
        <td><%= p.start_date %></td>
        <td><%= p.end_date %></td>
        <td><%= p.structure.name %></td>
        <td><%= p.position %></td>
      </tr>
    <% end %>
    </table>

   <% if @member.comittees.count == 0 %>
     <h5>Няма постоянни комисии</h5>
   <% else %>
    <h5>Постоянни комисии</h5>

    <table class="table">
      <tr>
        <td>От</td>
        <td>До</td>
        <td>Име</td>
        <td>позиция</td>
      </tr>
    <% @member.comittees.each do |p| %>
      <tr>
        <td><%= p.start_date %></td>
        <td><%= p.end_date %></td>
        <td><%= p.structure.name %></td>
        <td><%= p.position %></td>
      </tr>
    <% end %>
    </table>
  <% end %>

   <% if @member.t_comittees.count == 0 %>
     <h5>Няма временни комисии</h5>
   <% else %>

    <h5>Временни комисии</h5>

    <table class="table">
      <tr>
        <td>От</td>
        <td>До</td>
        <td>Име</td>
        <td>позиция</td>
      </tr>
    <% @member.t_comittees.each do |p| %>
      <tr>
        <td><%= p.start_date %></td>
        <td><%= p.end_date %></td>
        <td><%= p.structure.name %></td>
        <td><%= p.position %></td>
      </tr>
    <% end %>
  </table>
  <% end %>

   <% if @member.subcomittees.count == 0 %>
     <h5>Няма парламентарни подкомисии</h5>
   <% else %>
     <h5>Парламентарни подкомисии</h5>

    <table class="table">
      <tr>
        <td>От</td>
        <td>До</td>
        <td>Име</td>
        <td>позиция</td>
      </tr>
    <% @member.subcomittees.each do |p| %>
      <tr>
        <td><%= p.start_date %></td>
        <td><%= p.end_date %></td>
        <td><%= p.structure.name %></td>
        <td><%= p.position %></td>
      </tr>
    <% end %>
    </table>
  <% end %>

   <% if @member.delegations.count == 0 %>
     <h5>Няма делегации</h5>
   <% else %>
     <h5>Делегации</h5>
    <table class="table">
      <tr>
        <td>От</td>
        <td>До</td>
        <td>Име</td>
        <td>позиция</td>
      </tr>
    <% @member.delegations.each do |p| %>
      <tr>
        <td><%= p.start_date %></td>
        <td><%= p.end_date %></td>
        <td><%= p.structure.name %></td>
        <td><%= p.position %></td>
      </tr>
    <% end %>
    </table>
  <% end %>

   <% if @member.f_groups.count == 0 %>
     <h5>Няма групи за приятелство</h5>
   <% else %>
    <table class="table">
     <h5>Групи за приятелство</h5>
      <tr>
        <td>От</td>
        <td>До</td>
        <td>Име</td>
        <td>позиция</td>
      </tr>
    <% @member.f_groups.each do |p| %>
      <tr>
        <td><%= p.start_date %></td>
        <td><%= p.end_date %></td>
        <td><%= p.structure.name %></td>
        <td><%= p.position %></td>
      </tr>
    <% end %>
  </table>
  <% end %>


    <h5>Зададени въпроси</h5>
    <ul>
    <% @member.questions.each do |q| %>
      <li>
        <%= q.topic %>
      </li>
    <% end %>
    </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Лични данни</h4>
      </div>
      <table class="table table-bordered">
        <tr>
          <td>дата на раждане</td>
          <td><%= @member.birthday %></td>
        </tr>
        <tr>
          <td>място на раждане</td>
          <td><%= @member.hometown %></td>
        </tr>
        <tr>
          <td>професия</td>
          <td><%= @member.profession %></td>
        </tr>
        <tr>
          <td>езици</td>
          <td><%= @member.languages %></td>
        </tr>
        <tr>
          <td>семейно положение</td>
          <td><%= @member.marital_status %></td>
        </tr>
        <tr>
          <td>имейл</td>
          <td><%= @member.email %></td>
        </tr>
        <tr>
          <td>уебсайт</td>
          <td><%= @member.website %></td>
        </tr>
      </table>
    </div>

  </div>
</div>
