<div class="page-header">
  <h1>Често задавани въпроси</h1>
</div>

<ul class="questions list-group col-md-6 pull-left">
  <li class="list-group-item"><a href="#project">Какво представлява проектът?</a></li>
  <li class="list-group-item"><a href="#mission">Каква е целта на проекта?</a></li>
  <li class="list-group-item"><a href="#opperation">Как работи сайтът?</a></li>
  <li class="list-group-item"><a href="#other-sites">Вие ли стоите зад openparliament.net или parlamentaren-kontrol.com?</a></li>
  <li class="list-group-item"><a href="#zdoi">Попитахте ли парламента дали нямат интерес да ви дават информация?</a></li>
  <li class="list-group-item"><a href="#experts">Защо единствено предварително определени от вас експерти могат да оценяват проектозакони?</a></li>
  <li class="list-group-item"><a href="#evaluation">Как можем да знаем, че оценките на експертите са обективни?</a></li>
  <li class="list-group-item"><a href="#source">От къде е взета информацията?</a></li>
  <li class="list-group-item"><a href="#consistency">Информацията вярна ли е?</a></li>
  <li class="list-group-item"><a href="#alert">Какво да направя ако намеря неточна или невярна информация?</a></li>
  <li class="list-group-item"><a href="#join">Как мога да се включа в проекта?</a></li>
  <li class="list-group-item"><a href="#obshtestvo">Какво представлява Общество.бг?</a></li>
  <li class="list-group-item"><a href="#contact">Имам въпрос, чийто отговор който не намерих тук.</a></li>
</ul>

<section>
  <h3 id="project">Какво представлява проектът?</h3>

  <p>Отворен парламент е дигитален инструмент за справки и анализ на парламентарната активност целящ да предостави тази активност по интересен и увлекателен начин и да осъществява своеобразен мониторинг върху нея.</p>

  <p>Сайтът се разработва от независимите разработчици на <%= link_to "Общество.бг", "http://obshtestvo.bg" %>.</p>
</section>

<section>
  <h3 id="mission">Каква е целта на проекта?</h3>

  <p>Проектът има много и разнородни цели. Ние вярваме, че проблемите в България са силно взаимосвързани и решаването на един от тях, би могло да се случи, само ако едновременно с това се работи и по друг.</p>

  <ul>
    <li><strong>Да подобри разбирането на гражданите за начинът, по който работи Народното събравие</strong>. Ние искаме повече българи да придобие по-добър интерес и усет за нещата „от кухнята“, за политическите игри и договорки било то изказани или неизказани.</li>
    <li><strong>Да осъществява мониторинг на парламентарната активност</strong>, чрез публикуване на труднодостъпна или недостъпна информация.</li>
    <li><strong>Да служи за бързи справки на журналисти, граждани и други заинтересовани лица</strong>.</li>
    <li><strong>Да служи за архив</strong>. За разлика от официалната страница на Народното събрание информацията на нашият сайт няма да се изтрие.</li>
    <li><strong>Да поправя невярна информация</strong>, публикувана на официалните източници.</li>
    <li><strong>Ще увеличи видимостта на политици, които не се радват на медийно отразянате</strong>, а всъщност са активни в своята работа.</li>
    <li><strong>Да увеличи престижът на Народното събрание</strong>. В българското общество витае мнението, че „всичките са маскари“. Ние вярваме, че ще успеем да проблематизираме това мнение, ако успеем да увлечем хората да се интересуват активно от политическият живот, защото така те ще научат, че много политици споделят сходни с тях мнения и ценности. Медиите са свикнали да отразяват скандалното, докато ние се стремим да отразим всичко, което се случва без да взимаме страна. Увеличаването на престижът на Народното събрание ще доведе до по-голяма конкуренция измежду народните представители, което ще доведе до „по-качествени“ кандидати.</li>
    <li><strong>Да намира труднодостъпна или недостъпна информация и да я публикува</strong>.</li>
    <li><strong>Да известява журналисти, заинтересовани лица и фирми за нови законопроекти по електронна поща</strong>. Вярваме, че така ще промотираме навременна реакция в гражданското общество за неприемлеви законопроекти.</li>
  </ul>
</section>

<section>
  <h3 id="opperation">Как работи сайтът?</h3>

  <p>Отворен парламент е проект с отворен код. Това означава, че всеки програмист може да разгледа кода, да следи неговото развитие и, ако желеа, може да го редактира. Таблицата по-долу описва най-общо пътят който изминава информацията при достигането ѝ до крайният потребител, както и от какви хора и технологии се нуждаем на всеки етап.</p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Какви хора боравят с информацията?</th>
        <th>Какво се случва с информацията?</th>
        <th>Умения и технологии.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="2">Програмисти</td>
      <td>Информацията се извлича от официалните страници и се обработва във подходящ за съхранение вид.</td>
      <td>Data mining - crawlers, scrapers, parsers</td>
    </tr>
    <tr>
      <td>Информацията се запазва в база данни.</td>
      <td>persisters</td>
    </tr>
    <tr>
      <td>Програмисти, Статистици</td>
      <td>Аналитики – информация за това колко отсъствия имат депутатите, за кой закони са гласуват, колко законопроекта са внесли, колко често се изказват в пленарната зала и пр. Обективна количествена „оценка“ на дейността на депутатия.</td>
      <td>SQL, active record</td>
    </tr>
    <tr>
      <td>Експерти</td>
      <td>Качествена оценка на законодателните инициативи на народните представители въз основа на експертното мнение на добре подбран екип.</td>
      <td>юристи с авторитет и добро реноме.</td>
    </tr>
    <tr>
      <td>Потребители</td>
      <td>Крайният потребител получават в интуитивен и подреден начин както количествената, така и качествената информация.</td>
      <td>Хора с любопитство и социална чувствителност.</td>
    </tr>
    </tbody>

  </table>
</section>

<section>
  <h3 id="other-sites">Вие ли стоите зад openparliament.net или parlamentaren-kontrol.com?</h3>

  <p>Не. <%= link_to "openparliament.net", "http://openparliament.net" %> се поддържа от <%= link_to "Институт за развитие на публичната", "http://iped.bg/" %>, а <%= link_to "parlamentaren-kontrol.com", "http://parlamentaren-kontrol.com" %> – от <%= link_to "Стефан Кръстанов", "https://github.com/Krastanov" %>. Тези проекти, обаче, са много полезни за нас и ние черпим много идеи от тях. <%= link_to "Проектът", "http://parliament.yurukov.net/" %> на <%= link_to "Боян Юруков", "http://yurukov.net" %> също е полезен.</p>
</section>

<section>
  <h3 id="zdoi">Попитахте ли парламента дали нямат интерес да ви дават информация?</h3>

  <p>Нашата стратегия е да изискваме информация по <%= link_to "ЗДОИ", "http://lex.bg/laws/ldoc/2134929408" %>. Ние считаме, че това е стандартна практика в демократичните държави, а не опит за оказване на натиск. Друга причина е, че ние изискваме големи обеми информация, което си представяме, че представлява доста голямо усилие от страна на администрацията и това ни кара да вярваме, че няма да ни я дадат доброволно.</p>
</section>

<section>
  <h3 id="experts">Защо единствено предварително определени от вас експерти могат да оценяват проектозакони?</h3>

  <p>Умишлено страним от „допитване до народа“ или възможността всеки потребител да може да гласува по законопроекти по следните причини:</p>

  <li>Олигарси и политически структури могат да наемат армия от ботове/тролове, чиято единствена задача е да гласуват за удобни за тях законопроекти.</li>
  <li>Обикновенния гражданин не притежава необходимата експертиза да оценява законопроекти - те често са много специфични, необходимо е познаване на правната рамка, на проблемите на ресора и пр. Не случайно при изготвянето на един добър законопроект обикновенно участват много хора с различни специалности и организации от неправителствения сектор.</li>
  <li>В съответствие с целта на сайта - информираност, желанието ни е качествения анализ на експертите да даде на хората повече РАЗБИРАНЕ за тематиката и качеството на законопроекта, без да е необходима последните да притежават необходимата експертиза.</li>
  <li>Друг аргумент за качественото оценяване е фактът, че оценката „плюс“ или „минус“ снема сложният характер на проектозаконът. Обикновенно един проектозакон има добри и лоши страни, понякога подобрява живота на едни хора, за сметка на този на други хора. В него са вплетени различни идеологии, вярвания, интереси. Качествено оценяване на законопроектът ще позволи да тези неща да бъдат отчетени. (Докато фактът, че примерно е събрал 324 плюсчета от случайни хора в интернет, не биха ни позволили да разберем това.)</li>
</section>

<section>
  <h3 id="evaluation">Как можем да знаем, че оценките на експертите са обективни?</h3>

  <p>Да, проблемът за легитимността е изключително остър в България. Не само медии, но и много НПО-та служат за бухалка на една или друга политическа сила върху техните опоненти (било то политически или не.) Ето защо, нашият екип от експерти ще бъдат добре познати лица с голям авторитет и безупречно реноме.</p>

  <p>Манипуляриаемостта на количествените данни е невъзможна, защото кодът е публично достърен <%= link_to "на страницата на проекта в github", "https://github.com/obshtestvo/sledi-parlamenta" %>.</p>
</section>

<section>
  <h3 id="source">От къде е взета информацията?</h3>

  <p>Имената и снимките на депутатите, заедно с участията им в комисии, подкомисии, временни комисии, партии, народни събрания, делегации и групи за приянелство, както и стенограмите от комисиите, подкомисиите и временните комисии и пленарните заседания, както и гласуванията от пленарни заседания са взети от <%= link_to "официалната страница на Народното събрание", "http://parliament.bg" %>.</p>
</section>

<section>
  <h3 id="consistency">Информацията вярна ли е?</h3>

  <p>За съжаление събраната информация не е 100% вярна. За щастие грешките са много малко и това ни дава увереност да показваме наличната информация.</p>

  <p>Причините за това са две:</p>

  <ul>
    <li>Информацията, която е на страницата на Народното събрание често е невярна. Случва се, например, да бъдат объркани имената на народните представители. Понякога липсват файловете пазещи информация за гласуванията. Понякога тези файлове са там, но има грешки в тях. Една от заложените цели на „Отворен парламент“ е да открива и поправя тези грешки.</li>
    <li>Възможно е и, разбира се, в нашият код също да има грешки. Това е и една от причините той да е публичен. Всеки може да провери методологията, която използваме при обработването на данните и да посочи грешките ни.</li>
  </ul>

  <p>Поради това ние събираме всички проблеми с информация в <%= link_to "специално определена за това тема", "https://github.com/obshtestvo/sledi-parlamenta/issues/46" %> на <%= link_to "страницата на проекта в github", "https://github.com/obshtestvo/sledi-parlamenta" %>.</p>
</section>

<section>
  <h3 id="alert">Какво да направя ако намеря неточна или невярна информация?</h3>

  <p><%= link_to "Първо провери дали грешката не ни е вече известна", "https://github.com/obshtestvo/sledi-parlamenta/issues/46" %>. Ако това не е така – можеш да ни пишеш на tsikov AT gmail DOT com или направо в горепосочената тема ако имате регистрация в github.</p>
</section>

<section>
  <h3 id="join">Как мога да се включа в проекта?</h3>

  <p>Най-добре първо пиши на tsikov AT gmail DOT com за да те въведем в проекта и да се разберем дали това от което имаме нужда е това, което искаш да правиш. Също така, ако си програмист, можеш да разгледаш <%= link_to "на страницата на проекта в github", "https://github.com/obshtestvo/sledi-parlamenta" %>.</p>
</section>

<section>
  <h3 id="obshtestvo">Какво представлява Общество.бг?</h3>

  <p>Това е труден въпрос. НПО-то е доста младо и всеки има различни идеи за това какво представлява или трябва да представлява. За мен (Петко) представлява мрежа от доброволци със сходни ценности и вярата, че можем да направим света по-добро място. Можете да прочетете повече за организацията на <%= link_to "страницата ни", "http://obshtestvo.bg" %>, а ако желаете, можете и да се <%= link_to "присъедените", "http://obshtestvo.bg/join" %> към бързонарастващия ни отбор!</p>
</section>

<section>
  <h3 id="contact">Имам въпрос, чийто отговор който не намерих тук.</h3>

  <p>Жалко. Пиши на tsikov AT gmail DOT com и ще се опитам да ти отговоря своевременно.</p>
</section>

<br />
<br />
<br />
<br />
<br />
