<h1>Members (<%= @members.count %>)</h1>

<%= form_for :party, method: :get do |f| %>
  <%= f.select("party_id", Structure.parties.collect {|p| [ p.name, p.id ] }, :selected => params[:party][:party_id]) %>
  <%= f.submit "Намери", name: nil %>
<% end %>

<table border=1>
  <tr>
    <td>index</td>
    <td>Имена</td>
    <td>GOV ID</td>
  </tr>
<% @members.each_with_index do |m, index| %>
  <tr>
    <td><%= index %></td>
    <td><%= link_to m.names, member_path(m) %></td>
    <td><%= m.gov_site_id %></td>
  </tr>
<% end %>

</table>
