<div class="page-header">
  <h1><%= t('nav.members') %> <span class="label label-default"><%= @members.count%></span></h1>
</div>

<%= form_for :party, method: :get do |f| %>
  <% selected = params[:party][:party_id] unless params[:party].nil? %>
  <%= f.select("party_id", Structure.parties.collect {|p| [ p.name, p.id ] }, :selected => selected, include_blank: 'Всички') %>
  <%= f.submit "Намери", name: nil %>
<% end %>

<table class="table table-striped">
  <tr>
    <td>index</td>
    <td>Имена</td>
    <td>GOV ID</td>
  </tr>
<% @members.each_with_index do |m, index| %>
  <tr>
    <td><%= index %></td>
    <td><%= link_to m.names, member_path(m) %></td>
    <td><%= m.gov_site_id %></td>
  </tr>
<% end %>

</table>
