<h1><%= @member.names %></h1>

<table border=1>
  <tr>
    <td>дата на раждане</td>
    <td><%= @member.hometown %></td>
  </tr>
  <tr>
    <td>роден град</td>
    <td><%= @member.hometown %></td>
  </tr>
  <tr>
    <td>професия</td>
    <td><%= @member.profession %></td>
  </tr>
  <tr>
    <td>езици</td>
    <td><%= @member.languages %></td>
  </tr>
  <tr>
    <td>женен/неженен</td>
    <td><%= @member.marital_status %></td>
  </tr>
  <tr>
    <td>избирателен район</td>
    <td><%= @member.constituency %></td>
  </tr>
  <tr>
    <td>имейл</td>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <td>уебсайт</td>
    <td><%= @member.website %></td>
  </tr>
  <tr>
    <td>независим</td>
    <td><%= @member.non_affiliated %></td>
  </tr>
  <tr>
    <td>пол</td>
    <td><%= @member.gender %></td>
  </tr>
  <tr>
    <td>министерски съвет</td>
    <td><%= @member.council_ministers %></td>
  </tr>
  <tr>
    <td>създаден</td>
    <td><%= @member.created_at %></td>
  </tr>
  <tr>
    <td>редактиран</td>
    <td><%= @member.updated_at %></td>
  </tr>
</table>

