<div class="page-header">
  <h1>Сесии <span class="label label-default"><%= @sessions.values.flatten.count %></span></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <%= link_to "<", { year: @year.prev_year.strftime("%Y") }, class: "btn btn-default" %>
      &nbsp;&nbsp;&nbsp;&nbsp;
    <%= @year.strftime("%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;
    <% if Date.today.beginning_of_year >= @year.next_year.beginning_of_year %>
      <%= link_to ">", { year: @year.next_year.strftime("%Y") }, class: "btn btn-default" %>
    <% end %>
  </div>

  <%= calendar @year do |month| %>
    <p class="bg-primary text-center">
    <%= month.strftime("%B") %>
    </p>
    <%= monthly month %>
  <% end %>

</div>
<ul>
</ul>
