<div class="page-header">
  <h1><%= @structure.name %></h1>
</div>

<h3>Сесии</h3>

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <%= link_to "<", { year: @year.prev_year.strftime("%Y") }, class: "btn btn-default" %>
      &nbsp;&nbsp;&nbsp;&nbsp;

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <%= @year.strftime("%Y") %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% (Session.by_structure_name(@structure.name).order("date").first.date.year..Time.now.year).to_a.each do |year| %>
        <%= content_tag(:li, link_to("#{year}", year: year )) %>
      <% end %>
    </ul>
  </div>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <% if Date.today.beginning_of_year >= @year.next_year.beginning_of_year %>
      <%= link_to ">", { year: @year.next_year.strftime("%Y") }, class: "btn btn-default" %>
    <% end %>
  </div>

  <%= calendar @year do |month| %>
    <p class="bg-primary text-center">
      <%= month.strftime("%B") %>
    </p>
    <%= monthly month %>
  <% end %>

</div>

<h3>Членове</h3>

<table class="table table-striped">
  <tr>
    <td>Имена</td>
    <td>Възраст</td>
    <td>Роден град</td>
    <td>Езици</td>
    <td>Професия</td>
    <td>email</td>
  </tr>
    <% @structure.members.uniq.each_with_index do |m, index| %>
  <tr>
    <td><%= link_to m.names, member_path(m) %></td>
    <td><%= m.age %></td>
    <td><%= m.hometown %></td>
    <td><%= m.languages %></td>
    <td><%= m.profession %></td>
    <td><%= m.email %></td>
  </tr>
<% end %>

</table>
