<div class="page-header">
  <h1>Гласувания <span class="label label-default"><%= @votings.count %></span></h1>
</div>

<%= form_for @voting, method: "get", html: { class: "form-inline"} do |f| %>
  <div class="input-group">
    <%= f.text_field :topic, class: "form-control input-sm", placeholder: "търси" %>
    <span class="input-group-btn">
      <%= f.submit "Търси", name: nil, class: "btn btn-default btn-sm" %>
    </span>
  </div>
  <br />

  <div class="row">
    <div class="col-md-12">

      <% options = Structure.parties.pluck(:name, :id) %>

      <table style="width: 100%">
        <tr>
          <td style="width: 45%">Партия</td>
          <td style="width: 15%">За</td>
          <td style="width: 15%">Не</td>
          <td style="width: 15%">Въздържал се</td>
          <td style="width: 10%">Отсъства</td>
        </tr>
      </table>

      <%= f.fields_for :aggregate_votings do |av_form| %>
        <div class="input-group">
          <%= av_form.select :structure_id, options_for_select(options, av_form.object.structure_id), :include_blank => true %>
          <%= av_form.text_field :yes %>
          <%= av_form.text_field :no %>
          <%= av_form.text_field :abstain %>
          <%= av_form.text_field :absent %>
        </div>
      <br />
      <% end %>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8 paginate">
      <%= paginate_always(@votings) %>
    </div>
  </div>

<% end %>

<table class="table table-striped">
  <tr>
    <td>Заглавие</td>
    <td>Дата и час</td>
  </tr>
    <% @votings.each_with_index do |v, index| %>
  <tr>
    <td><%= link_to v.topic, voting_path(v) %></td>
    <td><%= v.voted_at %></td>
  </tr>
<% end %>

</table>
