<div class="page-header">
  <h1><%= @voting.topic %></h1>
</div>

<h3>Резултатие от гласуването</h3>

<% parties = Structure.parties.pluck(:id, :name) %>

<div class="row">
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Партия</h3>
      </div>
      <table class="table table-condensed">
        <tr>
          <td>Партия</td>
          <td>Име</td>
          <td>Глас</td>
        </tr>
          <% @voting.by_name.each do |m| %>
            <tr class="<%= choose_class m[4] %>">
          <td><%= m[0] %></td>
          <td><%= link_to m[2] + " " + m[3], member_path(m[1]) %></td>
          <td><%= choose_icon m[4] %></td>
        </tr>
      <% end %>

      </table>
    </div>

  </div>
</div>


