<div class="page-header">
  <h1>Сесии <span class="label label-default"><%= @sessions.values.flatten.count %></span></h1>
</div>

<div class="panel">
  <%= form_tag sessions_path, method: 'GET' do %>
    <div class="input-group">
      <%= text_field_tag(:query, params[:query], class: "form-control input-sm", placeholder: "Търсене по текст") %>
      <span class="input-group-btn">
        <%= submit_tag("Търси", name: nil, class: "btn btn-default btn-sm") %>
      </span>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <%= link_to "<", params.merge(year: @year.prev_year.strftime("%Y")), class: "btn btn-default" %>
      &nbsp;&nbsp;&nbsp;&nbsp;

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <%= @year.strftime("%Y") %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% (Session.order("date").first.date.year..Time.now.year).to_a.each do |year| %>
        <%= content_tag(:li, link_to("#{year}", params.merge(year: year) )) %>
      <% end %>
    </ul>
  </div>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <% if Date.today.beginning_of_year >= @year.next_year.beginning_of_year %>
      <%= link_to ">", params.merge(year: @year.next_year.strftime("%Y")), class: "btn btn-default" %>
    <% end %>
  </div>

  <%= calendar @year do |month| %>
    <p class="bg-primary text-center">
      <%= month.strftime("%B") %>
    </p>
    <%= monthly month %>
  <% end %>

</div>
